
<mat-accordion *ngIf="schedule">
    <mat-expansion-panel *ngFor="let item of schedule.data.classes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.class}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.lessons.length}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let lesson of item.lessons">
          {{lesson.lessonNumber}}. 
          <div class="room" *ngFor="let room of lesson.rooms">
              <span style="flex-grow: 2;">{{room.subject}}</span>
              <span style="flex-grow: 1;">{{room.teacherName}}</span>
              <span style="flex-grow: 1;">{{room.room}}</span>
          </div>
      </div>
    </mat-expansion-panel>
    
  </mat-accordion>
