<div class="cards">
  <mat-card id="pazinojumi" [ngClass]="(isHandset$ | async) ? 'mobile' : 'pc'">
    <mat-card-title-group>
      <mat-card-title>Paziņojumi</mat-card-title>
      <mat-card-subtitle>Pieteikties e-pasta ziņojumiem</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <p>
        Saņemiet ziņas par jaunākajām stundu izmaiņām tieši e-pastā! Lai pieteiktos e-pasta ziņojumiem, ievadiet savu
        e-pasta adresi šajā laukā un nospiediet pogu "Pieteikties". Jums vienmēr būs iespēja atteikties no ziņojumiem.
      </p>
      <span>
        <mat-form-field appearance="legacy">
          <mat-label>Jūsu e-pasts</mat-label>
          <input matInput placeholder="jusupasts@piemers.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Pieteikties" (click)="sendMessage()"
          [disabled]="this.email.invalid">
          <mat-icon>send</mat-icon>
        </button>
      </span>
    </mat-card-content>
  </mat-card>


  <mat-card id="about" [ngClass]="(isHandset$ | async) ? 'mobile' : 'pc'">
    <mat-card-title-group>
      <mat-card-title>Kontakti un saites</mat-card-title>
      <mat-card-subtitle>Pār mājaslapu</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <p>
        <mat-icon aria-hidden="false" aria-label="e-pasts" class="material-icons-outlined">email</mat-icon>
        rv1g.stunduizmainas@gmail.com
      </p>
      <mat-divider [inset]="true"></mat-divider>
      <p>
        <mat-icon aria-hidden="false" aria-label="Skolas mājaslapa" class="material-icons-outlined">web</mat-icon>
        <a href="http://r1g.edu.lv/v/index">http://r1g.edu.lv</a>
      </p>
      <mat-divider [inset]="true" *ngIf="!isIOSDevice()"></mat-divider>
      <p *ngIf="!isIOSDevice()">
        <mat-icon aria-hidden="false" aria-label="Mobīlā aplikācija"  class="material-icons-outlined">phone_android
        </mat-icon>
        <a href="http://r1g.edu.lv/v/index">Lejupielādēt aplikāciju!</a>
      </p>
      <mat-divider [inset]="true"></mat-divider>
      <p>
        @Stundu Izmaiņas, 2021
      </p>
    </mat-card-content>
  </mat-card>

</div>
