h1,h2{
font-style: italic;
}
h1{
    font-size: 400%;
}
h2{
    font-size: 300%;
}
span.break {
    flex-basis: 100%;
    height: 0;
  }
div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    height:80%;
}