<div class="search-mobile">
  <mat-form-field class="example-form-field" appearance="standard" *ngIf="filtered">
  <mat-label>Filtrēt izmaiņas</mat-label>
  <input matInput type="text" (input)="onFilterChange($event,1)" [(ngModel)]="search">
  <button *ngIf="search" matSuffix mat-icon-button aria-label="Delete" (click)="emptySearch()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</div>

    <mat-accordion *ngIf="filtered">
      <mat-expansion-panel *ngFor="let item of filtered">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.teacherName}}
          </mat-panel-title>
          <mat-panel-description>
            {{item.lessons.length}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let lesson of item.lessons">
          <mat-divider></mat-divider>
          <div class="lesson">
          <div class="lesson-number">
            {{lesson.lessonNumber}}.
          </div>
          <div class="room">
            <p style="display: flex; justify-content: space-between">
              <span>{{getClassName(lesson.class)}}</span>
              <span>
                {{lesson.room}}.
                <mat-divider></mat-divider>
              </span>
            </p>
            <p class="note" *ngIf="lesson.note!=null&&lesson.note.noteText">{{lesson.note.noteText}}</p>
          </div>

        </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  <mat-progress-bar *ngIf="columns.length==0" mode="indeterminate"></mat-progress-bar>

