<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false"
      >
    <mat-toolbar>Izvelne</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/student" (click)="drawer.toggle()">Skolēniem</a>
      <a mat-list-item routerLink="/teacher" (click)="drawer.toggle()">Skolotājiem</a>
      <a mat-list-item routerLink="/important" (click)="drawer.toggle()">Svarīgi</a>

      <div class="menu-footer">
        <mat-icon aria-label="Light mode">brightness_7</mat-icon>
        <mat-slide-toggle [(ngModel)]= "darkMode"  (click)="switch()"></mat-slide-toggle>
        <mat-icon aria-label="Dark mode">brightness_2</mat-icon>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div style="flex-basis: 350px;"><span>Stundu Izmaiņas</span></div>

      <a class="desktop-mode" routerLink="/student" >Skolēniem</a>
      <a class="desktop-mode" routerLink="/teacher" >Skolotājiem</a>
      <a class="desktop-mode" routerLink="/important" >Svarīgi</a>

    <div class="desktop-mode" style="flex-grow:0; flex-basis: 0;">
      <button  aria-label="Swap colour mode" mat-icon-button click="change()"><mat-icon>invert_colors</mat-icon></button>
    </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
