


@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}


html,
body {
  height: 100%;
  margin: 0;
}

.noscroll, .tabs, mat-tab-group{
  height:100%;
}

.mat-drawer-content {
  overflow: hidden !important;
}
div.accordions{
max-height:100%;
  overflow:auto !important;
  //@include scrollbars(.5em, slategray);
  width: 70%;
  margin: auto;
  max-width: 1000px;
  padding-bottom: 100px;
}
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


mat-tab-header {
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  max-width: 1200px;
}


@media (min-width: 600px) {
  .mobile {
    display: none;
  }

}

@media (max-width: 599px) {
  .pc {
    display: none;
  }
  .search-mobile{
    display: flex;
    justify-content: flex-end;
  }
  mat-form-field{
    margin-right:15px;
  }
}

.mat-expansion-panel-header-description {
  flex-grow: 0 !important;
}

.lesson{
  margin-left: 10px;
  margin-right: 10px;
}
.lesson-number{
  margin-top: 5px;
}
.no-lesson{
  margin-top:5px;
  margin-bottom: 5px;
}

.note{
  margin-left: 10px;
  font-style: italic;
  font-size:95%;
  filter: brightness(85%);
}

.search{
  display: flex;
  justify-content:flex-end;
  padding-right: 20%;
  vertical-align:baseline;
}

mat-button-toggle, mat-button-toggle-group{
  height: fit-content;
}
mat-button-toggle-group{
  margin-top: 1.25em;
}
